/* Import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&family=Playfair+Display:ital,wght@1,600&display=swap');
@import 'variables', 'mixin';

/* Global */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:active, *:focus {
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: $size-global;
    line-height: $line-height;
    color: $color-section;
    text-align: center;
    letter-spacing: 1px;
}

a {
    text-decoration: $display;
    cursor: pointer;
}

ul {
    list-style-type: none;
    text-transform: $uppercase;
}

header {
    position: relative;
}

.btn {
    width: 168px;
    padding: 16px;
    border: 0;
    text-transform: $uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}

.section-header {
    font-size: $size-global + 28;
    font-weight: 500;
    text-transform: $uppercase;
}

.section-subheader {
    font-family: 'Playfair Display', serif;
    font-size: $size-global;
    font-weight: 300;
    color: $color-light;
}

/* Navigation */


#navigation {
    overflow: hidden;

    .nav {
        @include flex(flex, space-between, center, row);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 25px;
        padding-bottom: 25px;
        z-index: 2;

        .img-brand {
            max-width: $width;
            background-size: cover;
            background-position: center center;
        }

        .menu {

            .hamburger {
                position: relative;
                width: 60px;
                height: 16px;
                padding: 10px;

                span {
                    width: $width - 30;
                    height: 2px;
                    background: $bg-global;
                    transition: all .5s ease-in-out;

                    &:first-child {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                    &:last-child {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }

                &.active {
                    z-index: 2;

                    span {
                        transition: all .3s ease-in-out;
                        background: $bg-dark;

                        &:first-child {
                            position: absolute;
                            top: 50%;
                            right: 50%;
                            transform: translate(50%, -50%) rotate(-45deg);
                        }

                        &:last-child {
                            position: absolute;
                            bottom: 50%;
                            left: 50%;
                            transform: translate(-50%, 50%) rotate(45deg);
                        }
                    }
                }
            }

            .nav-link {

                &.active-nav {
                    @include flex(flex, center, center, column);
                    position: absolute;
                    top: 0;
                    right: 50%;
                    width: $width;
                    min-height: 100vh;
                    transform: translateX(50%);

                    li {
                        padding: 15px 0;
                    }
                }
            }
        }
    }
}


/* Splash */

.splash {
    position: relative;
    width: $width;
    height: 100vh;
    background-image: url("/images/gadgets-336635_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include flex(flex, center, center, column);
    color: $color-global;
    letter-spacing: 2px;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $width;
        height: 100vh;
        background: #000;
        opacity: .5;
        z-index: -1;
    }

    .title-page {
        font-family: 'Playfair Display', serif;
        text-transform: capitalize;
    }

    .subtitle {
        text-transform: $uppercase;
        font-weight: 900;
    }

    .btn {

        &.btn-yellow {
            background: $btn-color;
            color: $color-global;
        }
    }
}

/* Services */

.services {
    padding: $padding-global;

    .services-box {
        @include flex(flex, center, center, column);
        margin-top: 50px;

        .circle {
            @include flex(flex, center, center, row);
            @include radius(65px, 65px, 50%);
            margin-bottom: 20px;
            border: 3px solid $btn-color;

            .fas {
                color: $btn-color;
                font-size: $size-global + 16;
            }
        }

        .description-box {
            width: $width;

            .box-title {
                margin-bottom: 10px;
                font-size: $size-global + 6;
                text-transform: capitalize;
                font-weight: 500;
            }

            .box-subtitle {
                font-weight: 300;
            }
        }
    }
}

/* Portfolio */

.portfolio {
    padding: $padding-global;
    background: $bg-section;

    .portfolio-card {
        margin-top: 50px;
        width: 100%;

        .img-card {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 320px;
        }

        .card-description {
            width: 100%;
            margin-top: -5px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px 0;
            background: $bg-global;
            text-transform: capitalize;

            .card-header {
                font-size: $size-global + 4;
            }

            .card-subheader {
                font-family: 'Playfair Display', serif;
                color: $color-light;
            }
        }
    }
}

/* Footer */

.footer {
    position: relative;

    .footer-author {
        font-size: $size-global - 2;
        text-transform: capitalize;
    }

    .footer-social {

        ul {
            @include flex(flex, center, center, row);

            .circle {
                @include flex(flex, center, center, column);
                @include radius(32px, 32px, 50%);
                margin: 0 5px;
                background: $bg-dark;

                .fab {
                    color: $bg-global;
                }
            }
        }
    }
}