$width: 100%;
$height: 100%;
$padding-global: 100px 0;

$bg-global: #fff;
$bg-section: #e6e4e4;
$btn-color: #e4b10a;

$color-global: #fff;
$color-section: #2a2929;
$color-light: #686565;

$line-height: 1.6;