$width: 100%;
$height: 100%;
$padding-global: 100px 0;
$display: none;

$bg-global: #fff;
$bg-section: #e6e4e4;
$bg-dark: #1d1c1c;
$btn-color: #e2cd0f;

$color-global: #fff;
$color-section: #2a2929;
$color-light: #a19e9e;

$line-height: 1.6;
$size-global: 14px;
$uppercase: uppercase;